################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArraysAndLists/.vs/ArraysAndLists
/ArraysAndLists/.vs/C#Projects/v17
/ArraysAndLists/.vs
